.strip{
    border-bottom: 1px solid $font-color;
    display: grid;
    grid-template-columns: 50% 9% 30%;
    margin-bottom: 1rem;
}

@media (max-width: $normal-breakpoint) {
    .strip{
        border-bottom: 1px solid $font-color;
        display: grid;
        grid-template-columns: 90% 9%;
        margin-bottom: 1rem;
    }
}